STRIPE_SECRET_KEY=
STRIPE_PUBLIC_KEY=
STRIPE_WEBHOOK_SECRET=

PRICE_ID_DEBUTANT=price_1TqPY5HcrXmOh6b0340MsK1D
PRICE_ID_INTERMEDIAIRE=price_1TqPZkHcrXmOh6b0Yx4W2vfb
PRICE_ID_EXPERT=price_1TqPcGHcrXmOh6b0wgRiAQza
PRICE_ID_PACK_COMPLET=price_1TqPfBHcrXmOh6b024udRWXq
PRICE_ID_SESSION_LIVE=price_1TqPgaHcrXmOh6b0QvD7Z0Hq
PRICE_ID_TATTOO_PASS_HEBDO=price_1TqPiVHcrXmOh6b0ubghq2fF
PRICE_ID_TATTOO_PASS_MENSUEL=price_1TqPjbHcrXmOh6b0cNtGyS10
PRICE_ID_TATTOO_PASS_ANNUEL=price_1TqPkvHcrXmOh6b023sP5UAv

ALLOWED_ORIGIN=https://formationtattoo.ca
